Service References/eCPICWcfService/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_Get_InitiativeList_DataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeList_DataSet" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeList_DataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeList_DataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeList_CSV_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeList_CSV" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeList_CSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeList_CSVResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_PortfolioList_DataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_PortfolioList_DataSet" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_PortfolioList_DataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_PortfolioList_DataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_PortfolioList_CSV_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_PortfolioList_CSV" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_PortfolioList_CSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_PortfolioList_CSVResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeListInPortfolio_DataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeListInPortfolio_DataSet" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeListInPortfolio_DataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeListInPortfolio_DataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeListInPortfolio_CSV_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeListInPortfolio_CSV" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeListInPortfolio_CSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeListInPortfolio_CSVResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldList_DataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldList_DataSet" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldList_DataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldList_DataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldList_CSV_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldList_CSV" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldList_CSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldList_CSVResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldByFieldID_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldByFieldID_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldByFieldID_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldByFieldID_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldByFieldXMLTag_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldByFieldXMLTag_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FieldByFieldXMLTag_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_FieldByFieldXMLTag_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FullExport_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_FullExport_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_FullExport_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_FullExport_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_Exhibit300Export_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Exhibit300Export_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_Exhibit300Export_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Exhibit300Export_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Import_Exhibit300_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Import_Exhibit300_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Import_Exhibit300_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Import_Exhibit300_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Import_FullXML_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Import_FullXML_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Import_FullXML_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Import_FullXML_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_Exhibit300_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Exhibit300_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_Exhibit300_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_Exhibit300_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_FullXML_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_FullXML_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_FullXML_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_FullXML_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_SaveField_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_SaveField_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_SaveField_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_SaveField_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_SaveMultipleFields_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_SaveMultipleFields_XML" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Update_SaveMultipleFields_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_SaveMultipleFields_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeTemplate" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Get_InitiativeTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_InitiativeTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="Get_InitiativeList_DataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeList_DataSet" message="tns:IWcfService_Get_InitiativeList_DataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeList_DataSetResponse" message="tns:IWcfService_Get_InitiativeList_DataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeList_CSV">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeList_CSV" message="tns:IWcfService_Get_InitiativeList_CSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeList_CSVResponse" message="tns:IWcfService_Get_InitiativeList_CSV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_PortfolioList_DataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_PortfolioList_DataSet" message="tns:IWcfService_Get_PortfolioList_DataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_PortfolioList_DataSetResponse" message="tns:IWcfService_Get_PortfolioList_DataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_PortfolioList_CSV">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_PortfolioList_CSV" message="tns:IWcfService_Get_PortfolioList_CSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_PortfolioList_CSVResponse" message="tns:IWcfService_Get_PortfolioList_CSV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeListInPortfolio_DataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeListInPortfolio_DataSet" message="tns:IWcfService_Get_InitiativeListInPortfolio_DataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeListInPortfolio_DataSetResponse" message="tns:IWcfService_Get_InitiativeListInPortfolio_DataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeListInPortfolio_CSV">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeListInPortfolio_CSV" message="tns:IWcfService_Get_InitiativeListInPortfolio_CSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeListInPortfolio_CSVResponse" message="tns:IWcfService_Get_InitiativeListInPortfolio_CSV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_FieldList_DataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_FieldList_DataSet" message="tns:IWcfService_Get_FieldList_DataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_FieldList_DataSetResponse" message="tns:IWcfService_Get_FieldList_DataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_FieldList_CSV">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_FieldList_CSV" message="tns:IWcfService_Get_FieldList_CSV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_FieldList_CSVResponse" message="tns:IWcfService_Get_FieldList_CSV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_FieldByFieldID_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_FieldByFieldID_XML" message="tns:IWcfService_Get_FieldByFieldID_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_FieldByFieldID_XMLResponse" message="tns:IWcfService_Get_FieldByFieldID_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_FieldByFieldXMLTag_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_FieldByFieldXMLTag_XML" message="tns:IWcfService_Get_FieldByFieldXMLTag_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_FieldByFieldXMLTag_XMLResponse" message="tns:IWcfService_Get_FieldByFieldXMLTag_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_FullExport_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_FullExport_XML" message="tns:IWcfService_Get_FullExport_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_FullExport_XMLResponse" message="tns:IWcfService_Get_FullExport_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Exhibit300Export_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_Exhibit300Export_XML" message="tns:IWcfService_Get_Exhibit300Export_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_Exhibit300Export_XMLResponse" message="tns:IWcfService_Get_Exhibit300Export_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import_Exhibit300_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Import_Exhibit300_XML" message="tns:IWcfService_Import_Exhibit300_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Import_Exhibit300_XMLResponse" message="tns:IWcfService_Import_Exhibit300_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Import_FullXML_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Import_FullXML_XML" message="tns:IWcfService_Import_FullXML_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Import_FullXML_XMLResponse" message="tns:IWcfService_Import_FullXML_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Exhibit300_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Update_Exhibit300_XML" message="tns:IWcfService_Update_Exhibit300_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Update_Exhibit300_XMLResponse" message="tns:IWcfService_Update_Exhibit300_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_FullXML_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Update_FullXML_XML" message="tns:IWcfService_Update_FullXML_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Update_FullXML_XMLResponse" message="tns:IWcfService_Update_FullXML_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_SaveField_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Update_SaveField_XML" message="tns:IWcfService_Update_SaveField_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Update_SaveField_XMLResponse" message="tns:IWcfService_Update_SaveField_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_SaveMultipleFields_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Update_SaveMultipleFields_XML" message="tns:IWcfService_Update_SaveMultipleFields_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Update_SaveMultipleFields_XMLResponse" message="tns:IWcfService_Update_SaveMultipleFields_XML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeTemplate" message="tns:IWcfService_Get_InitiativeTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/Get_InitiativeTemplateResponse" message="tns:IWcfService_Get_InitiativeTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IWcfService" type="tns:IWcfService">
    <wsp:PolicyReference URI="#WSHttpBinding_IWcfService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_InitiativeList_DataSet">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_InitiativeList_DataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeList_CSV">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_InitiativeList_CSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_PortfolioList_DataSet">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_PortfolioList_DataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_PortfolioList_CSV">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_PortfolioList_CSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeListInPortfolio_DataSet">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_InitiativeListInPortfolio_DataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeListInPortfolio_CSV">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_InitiativeListInPortfolio_CSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_FieldList_DataSet">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_FieldList_DataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_FieldList_CSV">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_FieldList_CSV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_FieldByFieldID_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_FieldByFieldID_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_FieldByFieldXMLTag_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_FieldByFieldXMLTag_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_FullExport_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_FullExport_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Exhibit300Export_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_Exhibit300Export_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import_Exhibit300_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Import_Exhibit300_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Import_FullXML_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Import_FullXML_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Exhibit300_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Update_Exhibit300_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_FullXML_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Update_FullXML_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_SaveField_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Update_SaveField_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_SaveMultipleFields_XML">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Update_SaveMultipleFields_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_InitiativeTemplate">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Get_InitiativeTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="WSHttpBinding_IWcfService" binding="tns:WSHttpBinding_IWcfService">
      <soap12:address location="https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://gsa.ecpic.gov/eCPIC.WcfService/WcfService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>